.containerLeft__fishList {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(224, 245, 240);
    margin-bottom: 20px;
    padding: 3px;
}
.fishCard {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    border-radius: 25%;
    background-color: cadetblue;
    padding: 20px;
    margin: 5px;
}
.fishCard img {
    width: 25%;
    border-radius: 20px;
    align-self: center;
}
.fishCard p {
    margin: 4px;
    font-size:medium;
    text-align: left;

}