.fishCard {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    flex-direction: column;
    border-radius: 25%;
    background-color: cadetblue;
    padding: 20px;
    margin: 5px;
}
.fishCard__img {
    width: 75%;
    border-radius: 20px;
    align-self: center;
}
.fishCard p {
    margin: 4px;
    font-size: small;
    text-align: left;

}