.containerLeft article {
    display: flex;
    flex:auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(224, 245, 240);
    margin-bottom: 20px;
    padding: 3px;
}
.fishCard {
    width:30%;
    display: flex;
    flex:auto;
    flex-direction: column;
    border-radius: 25%;
    background-color: cadetblue;
    padding: 10px;
    margin: 3px;
}
.fishCard__img {
    width: 50%;
    border-radius: 20px;
    align-self: center;
}
.fishCard p{
    margin: 10px;
    font-size:medium;
    text-align:center;
}